[Unit]
Description=Initialize OVS-DOCA hardware offload
After=openvswitch.service network-online.target
Before=kubelet.service
Requires=openvswitch.service

[Service]
Type=oneshot
ExecStart=/usr/bin/doca-init.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
